@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
/* Sidebar */
#sidebar-wrapper{
    z-index:1;
    position: absolute;
    width:0;
    height:100%;
    overflow-y:hidden;
    background: #88AB8E;
    opacity:0.9;
    transition:all .5s;
    display:flex;
    align-items:center;
  }
   
  .sidebar-nav .text-center {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
  }

  .sidebar-nav .center-wrapper{
    align-items: center;
    justify-content: center;
  }

  /* Main Content */
  #page-content-wrapper{
    width: 100%;	
    position: absolute;
    padding:15px;
    transition:all .5s;
  }
  
  #menu-toggle{
      transition:all .3s;
      font-size:2em;
  }
  /* Change the width of the sidebar to display it*/
  #wrapper.menuDisplayed #sidebar-wrapper{
    width:250px;
  }
  
  #wrapper.menuDisplayed #page-content-wrapper{
    padding-left:250px;
  }
  
  /* Sidebar styling */
  .sidebar-nav{
    padding:0;
    list-style:none; 
    transition:all .5s;
    width:100%;
    text-align:left;
  }
  
  .sidebar-nav li{
    line-height:40px;  
      width:100%;
      transition:all .3s;
      padding:10px;
  }
  
  .sidebar-nav li a{
    display:block;
    text-decoration:none;
    color:#ddd;
  }
  
  .sidebar-nav li:hover{
    background:#163020;
  }
  
  .col-lg-12{
    height: 195px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #C3E2C2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  }

  .col-lg-12 .text-left{
    color: #000000;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
  }

  .col-lg-12 .image-container{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
  }


  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #C3E2C2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(10, 89, 68, 0.2);
}

/* CSS untuk gaya teks pada halaman About */
p {
    line-height: 1.6;
}
a {
    background-color: black;
    color: #f0f0f0;
}